name: CI
run-name: continuous integration
on: [push]
jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04, ubuntu-latest]
        cc: [gcc, clang]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - run: ./tests/test.sh
        shell: bash
        env:
          CC: ${{ matrix.cc }}
